extends ../components/base.pug

block content
  .homepage-container
    img.logo(src="../../assets/logo.png" alt="PixelFlux Logo" width=256)
    h1 Pixelflux
    div#about-content
      p 
        | PixelFlux allows you to claim ownership over pixel layers.
        | If you own the topmost layer of a pixel, you can customize its color.
        | While your ownership of a layer is permanent, others can purchase a new layer on top of yours. 
      p
        | When this happens, the payment for the new layer is distributed among all existing layer owners of that pixel.
      p 
        | Each time a layer is added, the pixel's value increases by its base price. 
        | It's possible to buy several layers at once.
      p 
        | Dive in by clicking on a pixel to explore its attributes.
    div.card-container
      a(href="/polygon.pug").blockchain-card
        h2 Polygon
        h3 Dive into the Pixelated Depths!