
extends ../components/base.pug

block variables
  - let faviconPath = "../../assets/favicon.ico"
  - let socialLogoPath = "../../assets/social_logo.jpg"
  - let stylePath = "../../assets/styles/polygon.scss"

block content
  include ../components/modal.pug

  #wrapper 
    include ../components/sidebar.pug
    #canvas-container
      #loading-animation.loader
      canvas#c
      
  include ../components/notification.pug

  script(type="module" src="../../scripts/polygon/index.ts")
