
extends ../components/base.pug

block variables
  - let stylePath = "../../assets/styles/polygon.scss"

block content
  include ../components/modal.pug

  #wrapper 
    include ../components/sidebar.pug
    #canvas-container
      canvas#c

  script(src="../../scripts/polygon.ts")
