doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    
    // Basic Metadata
    title Pixel Flux - Own Your Pixel Space
    meta(name="description", content="PixelFlux allows you to buy and own pixels. Become a permanent owner and earn as layers are added to your pixel.")
    meta(name="keywords", content="PixelFlux, Buy Pixels, Pixel Ownership, Pixel Layers")
    meta(name="author", content="Satoru Tamashi")

    // Responsive Design
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    // Favicon
    link(rel="icon", href="../assets/favicon.ico", type="image/x-icon")

    // Open Graph (for Facebook, etc.)
    meta(property="og:title", content="PixelFlux - Own Your Pixel Space")
    meta(property="og:description", content="PixelFlux allows you to buy and own pixels. Become a permanent owner and earn as layers are added to your pixel.")
    meta(property="og:image", content="../assets/social_logo.jpg")
    meta(property="og:url", content="https://pixelflux.com")

    // Twitter Card
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:title", content="PixelFlux - Own Your Pixel Space")
    meta(name="twitter:description", content="PixelFlux allows you to buy and own pixels. Become a permanent owner and earn as layers are added to your pixel.")
    meta(name="twitter:image", content="../assets/social_logo.jpg")

    link(rel="stylesheet", href="../assets/styles.css")

  body
    block content

    script(src="../scripts/main.ts")
