
extends ./components/base.pug


block content
  include ./components/modal.pug

  #wrapper 
    include ./components/sidebar.pug
    #canvas-container
      #loading 
        #progress-bar
          .progress-fill
        #loading-text Loading...
      canvas#c

  include ./components/notification.pug

  script(type="module" src="../scripts/index.ts")
