body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #232323, #141414);
}

#wrapper {
  display: flex;
  height: 100%;
}

#sidebar {
  width: 250px;
  height: 100%;
  padding: 15px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
  overflow-y: auto;
  border-radius: 0 10px 10px 0;
  color: #e0e0e0;
  background: linear-gradient(45deg, #332333, #141414);

}
#sidebar h1 {
  text-align: center;
  margin-bottom: 20px; 
}

#canvas-container {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#blockchain-dropdown {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  color: #e0e0e0;
  background: linear-gradient(45deg, #2a2a2a, #1b1b1b);
  border: 1px solid #4c2c4c;
}

#blockchain-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.tab {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  color: #e0e0e0;
  background: linear-gradient(45deg, #2a2a2a, #1b1b1b);
  border: 1px solid #4c2c4c;
}

.tab:hover {
  background: linear-gradient(45deg, #3a3a3a, #2b2b2b);
  color: #fff;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

details[open] #about-icon {
  transform: rotate(90deg);
}

#about-section summary::-webkit-details-marker {
  display: none;
}

#about-section summary {
  list-style: none;
  cursor: pointer;
}

#about-icon {
  display: inline-block;
  transition: transform 0.3s;
}


#color-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.color-option {
  width: 24px;
  height: 24px;
  margin: 5px;
  border-radius: 50%; 
  cursor: pointer;
}

#sidebar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #2c2c2c;
}

#sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #535;
  border: 2px solid #4c2c4c;
}

#sidebar::-webkit-scrollbar {
  width: 10px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.square-content {
  display: none;
}

/* Styles for Buy Button */
button {
  display: block;
  margin: 15px auto;
  padding: 8px 15px;
  background-color: #535;
  border: none;
  border-radius: 5px;
  color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
}

button:hover {
  background-color: #777;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #e0e0e0;
}

/* Styles for History Timeline */
#history {
  list-style: none;
  padding: 0;
  position: relative;
}

#history::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #535;
}

#history li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

#history li .color-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #e0e0e0;
  margin-right: 10px;
}

#history li .purchase-info {
  flex-grow: 1;
  background: #2a2a2a;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  background-color: #535;
  border: none;
  color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #777;
}
