body {
  overflow: hidden;
}

#canvas-container {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.square-content {
  display: none;
}