#color-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.color-option, input[type="color"] {
  width: 26px;
  height: 26px;
  border-radius: 50%; 
  cursor: pointer;
  appearance: none;
  outline: none;
  background-color: transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  }

  &::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
  }
  
  &::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

  &::-moz-color-swatch-wrapper {
    border-radius: 50%;
  }
  
  &::-moz-color-swatch {
    border-radius: 50%;
  }
}
