body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #fff;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #232335, #141414);

}

#wrapper {
  display: flex;
  height: 100%;
}

#canvas-container {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.square-content {
  display: none;
}

a {
  text-decoration: none;
  color: #faf;
}
a:hover {
  color: #f9f;
}