#sidebar {
  width: 230px;
  height: 100%;
  padding: 15px;
  box-shadow: -2px 0 5px $color-sidebar-shadow;
  overflow-y: auto;
  border-radius: 0 10px 10px 0;
  color: $color-primary-light;
  background: $color-bg-gradient;
  .pixel-card {
    background: linear-gradient(135deg, rgba(34, 34, 60, 1) 0%, rgba(47, 47, 77, 1) 100%); // Dark gradient
    border: 1px solid $color-shadow-dark;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px $color-shadow-dark;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 6px 10px $color-shadow-dark;
    }

    .pixel-display {
      width: 32px;
      height: 32px;
      margin: 0 auto;
      border: 2px solid $color-accent;
      box-shadow: 0 2px 4px $color-shadow-light;
      transition: border 0.3s, transform 0.3s;

      &:hover {
        border: 2px solid $color-accent-hover;
        transform: scale(1.1);
      }
    }

    .pixel-properties {
      text-align: center;
      margin-top: 10px;
      color: $color-primary-light;
      p {
        margin: 5px 0;
        font-weight: 300;
      }
    }
  }
}

#sidebar h1 {
  text-align: center;
  margin-bottom: 20px; 
}

#sidebar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: $color-scrollbar-track;
}

#sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $color-scrollbar-thumb;
  border: 2px solid $color-scrollbar-thumb-border;
}

#sidebar::-webkit-scrollbar {
  width: 10px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
  background-color: $color-scrollbar-thumb-hover;
}

#address-text {
  display: flex;
  align-items: center;

  #account-address {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 8px;
  }
}
