#blockchain-dropdown {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  color: #e0e0e0;
  background: linear-gradient(45deg, #2a2a2a, #1b1b1b);
  border: 1px solid #4c2c4c;
}

#blockchain-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.tab {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  color: #e0e0e0;
  background: linear-gradient(45deg, #2a2a2a, #1b1b1b);
  border: 1px solid #4c2c4c;
}

.tab:hover {
  background: linear-gradient(45deg, #3a3a3a, #2b2b2b);
  color: #fff;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
