#wallet-modal
  .modal-content
    h2 Connect to a Wallet
    p#modal-message
    ul.wallet-options
      li#browser-wallet-option.button
        span &#128179; Browser Wallet
    button#close-modal Close
