#wallet-modal
  .modal-content
    h2 Connect to a 
    p#modal-message
    ul.wallet-options
      li#metamask-option.button
        img(src="../assets/metamask.svg", alt="MetaMask")
        span MetaMask
    button#close-modal Close
