#sidebar
  h1
    a(href="/") &lt;-
  h1 Pixelflux
  button#connect-wallet
    span#connect-text Connect Wallet
    span#address-text(style="display: none;")
      span#account-address
  br
  div.square-content
    .pixel-card
      .pixel-display-container
        .pixel-current
        span &nbsp;-&gt;
        .pixel-preview
      .pixel-properties

    .purchase-card
      h2 Purchase
      #color-options
      br
      div.slider-controls
        button#decrease-btn - 
        div#slider-value 0
        button#increase-btn +
      input#layer-slider(type="range" min="0" max="100" value="0")
      button#purchase-button(disabled) Buy Layer
    
    .history-card
      h2 History
      ul#history
        li
          .color-circle(style="background-color: #FF5733;")
          .purchase-info Value: 70, Contract: 0xABC...DEF
      .pagination
        button#prev-button &laquo; Prev
        button#next-button Next &raquo;
  br
